frontend kube-frontend
    bind *:6443
    mode tcp
    option tcplog
    default_backend kube-backend

frontend stats
    bind *:80
    mode http
    stats enable
    stats uri /
    stats auth kube:kube

backend kube-backend
    mode tcp
    option tcp-check
    balance roundrobin
    {% for master in master_ips -%}
    server {{ master }} {{ master_ips[master].ip }}:6443 check inter 1min fall 30 rise 2
    {% endfor %}
